<meta charset="UTF-8">
<title>SKU Locator</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- ... -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/Selectivity.js/2.0.0/selectivity-full.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/Selectivity.js/2.0.0/selectivity-full.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- ... -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Selectivity.js/2.0.0/selectivity-full.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Selectivity.js/2.0.0/selectivity-full.min.js"></script>
<!-- ... -->
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
<link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>
<style>
    body { padding-top:50px; }
</style>