<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">SKU Locator</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/item">Barang</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bin">Rak</a>
    </li>
  </ul>
</nav>